.pokemon-card {
  background: var(--grey);
  display: flex;
  max-width: 410px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
  padding-block: 8px;
  align-items: center;
  cursor: pointer;
}

.pokemon-card:hover {
  transform: scale(1.03);
}

.pokemon-card__picture {
  max-width: 140px;
}

.pokemon-card__picture img {
  width: 100%;
}

.pokemon-card__content {
  padding: 16px;
  flex-shrink: 0;
}

.pokemon-card__id {
  font-size: var(--fz-18);
  color: var(--text-hint);
}

.pokemon-card__title-wrapper {
  margin-bottom: 16px;
}

.pokemon-card__title::first-letter {
  text-transform: capitalize;
}

.pokemon-card__types-container {
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 450px) {
  .pokemon-card {
    flex-direction: column;
  }

  .pokemon-card__picture {
    max-width: none;
  }

  .pokemon-card__title-wrapper {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    gap: 8px;
  }

  .pokemon-card__title {
    margin-bottom: 0;
  }
}
