.pokemon-section {
  max-width: 1294px;
  width: 100%;
  margin-inline: auto;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin-bottom: 48px;
}
.oups {
  width: 100%;
  background-color: var(--grey);
  margin: 0 auto;
  text-align: center;
  padding: 10%;
  font-weight: bolder;
  font-size: 24px;
}
