/* global */
.quiz-section {
  background: var(--grey);
  margin-inline: auto;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

/* start */
.quiz-section--start {
  max-width: 800px;
}

.pictures-container {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.demo-picture {
  max-width: 312px;
  min-width: 250px;
  width: 100%;
  border: 1px solid var(--black);
  border-radius: 4px;
  flex-shrink: 1;
}

.demo-picture--hidden {
  filter: brightness(0);
}

.quiz-section h1 {
  margin-bottom: 32px;
}

.quiz-section p {
  max-width: 656px;
  margin-inline: auto;
  margin-bottom: 16px;
}

.quiz-section--start .button {
  margin-inline: auto;
}

/* game */
.quiz-section--game {
  max-width: 1045px;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.quiz-section--game h1,
.quiz-options {
  grid-column: span 3;
}

.quiz-section--game h1 span,
.quiz-section--game h2 span {
  font-weight: 400;
}

.hints-container {
  border: 1px solid var(--grey-dark);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-picture--hidden {
  filter: brightness(0);
}

.quiz-picture--blurred {
  filter: brightness(0.3) blur(10px) hue-rotate(180deg);
}

.quiz-data__timer--danger {
  color: var(--danger);
}

.quiz-options {
  display: flex;
  gap: 16px;
  justify-content: center;
}

/* results */
