/* global ************************************************** */
.quiz-section img {
  pointer-events: none;
}

.quiz-section {
  background: var(--grey);
  margin-inline: auto;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

/* start ************************************************** */
.quiz-section--start {
  max-width: 800px;
}

.pictures-container {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.demo-picture {
  max-width: 312px;
  min-width: 250px;
  width: 100%;
  border: 1px solid var(--black);
  border-radius: 4px;
  flex-shrink: 1;
}

.demo-picture--hidden {
  filter: brightness(0);
}

.quiz-section h1 {
  margin-bottom: 32px;
}

.quiz-section p {
  margin-inline: auto;
  margin-bottom: 16px;
}

.quiz-section--start .button {
  margin-inline: auto;
}

/* game ************************************************** */
.quiz-section--game {
  max-width: 1045px;
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.quiz-picture {
  max-width: 100%;
  margin: 0 auto;
}

.quiz-section--game h1,
.quiz-options {
  grid-column: span 3;
}
.quiz-section--game h1 span,
.quiz-section--game h2 span {
  font-weight: 400;
}

.hints-container,
.quiz-data {
  border: 1px solid var(--grey-dark);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  min-width: 220px;
}

.quiz-picture--hidden {
  filter: brightness(0);
}

.quiz-picture--blurred {
  filter: brightness(0.3) blur(10px) hue-rotate(180deg);
}

.quiz-data__timer--danger {
  color: var(--danger);
}

.quiz-options {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 8px;
}

/* results ************************************************** */
.quiz-section--result {
  max-width: 956px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  font-weight: 900;
  font-size: var(--fz-64);
}

.score-green {
  color: var(--success);
}

.score-orange {
  color: var(--warning);
}

.score-red {
  color: var(--danger);
}

.results-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin: 32px;
}

.new-badge {
  width: 40px;
  position: absolute;
  margin: 4px;
}

.pokemon-img {
  width: 100%;
}

.pokemon-img--disabled {
  filter: brightness(0);
  pointer-events: none;
}

.right-answer {
  border: 2px solid var(--success);
  border-radius: 4px;
}

.wrong-answer {
  border: 2px solid var(--danger);
  border-radius: 4px;
}

.result-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.result-item--img {
  position: relative;
  width: 140px;
}

.answer-icon {
  position: absolute;
  width: 32px;
  right: 8px;
  bottom: 8px;
}

.pokemon-id {
  font-size: var(--fz-16);
  color: var(--text-hint);
  font-weight: 400;
}

.result-item__pokemon-name {
  font-size: var(--fz-18);
  font-weight: 700;
  max-width: 140px;
}

.quiz-result__button-up {
  display: none;
}
.hints-container > div > .badge-div {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 760px) {
  .quiz-section--game {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 1fr;

    width: 100%;
  }

  .quiz-section h1 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 18px;
    grid-row: 1;
    margin-bottom: 10px;
  }
  .hints-container {
    grid-row: 3;

    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border: none;
    box-shadow: none;
    padding: 0;
  }
  .hints-container > div > .badge-div {
    position: absolute;
  }

  .hints-container > h2 {
    order: 2;
    font-size: var(--fz-18);
    display: flex;
  }
  .hints-container .button:nth-child(3) {
    order: 3;
  }
  .button {
    font-size: auto;
    padding: 4px 8px;
    margin-bottom: 2px;
    position: relative;
  }
  .quiz-picture {
    grid-row: 4;

    margin: 0 auto;
    max-width: 175px;
  }
  .quiz-data {
    grid-row: 2;
    min-height: 33px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    border: none;
    box-shadow: none;
    margin-bottom: 12px;
  }
  .quiz-options {
    grid-row: 5;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
  .quiz-option > .button {
    line-clamp: 3;
  }
  .hints-container .badge {
    min-width: fit-content;
    font-size: 12px;
    padding: 4px 8px;
  }
}

@media screen and (max-width: 440px) {
  .result-item--img {
    width: 100%;
  }

  .quiz-result__button-up {
    display: flex;
  }

  .result-item__pokemon-name {
    max-width: 290px;
  }
}
@media screen and (max-width: 600px) {
  .hints-container {
    border: none;
  }
}
