.title {
  font-size: var(--fz-32);
  font-weight: 700;
}

.search-container {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  margin-bottom: 32px;
}

.search-item-container {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
  padding: 16px;
  position: relative;
}

.search-by-name-inupt,
.types-list {
  padding: 4px 8px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  width: 200px;
}

.label-radio {
  cursor: pointer;
}

.label-radio > input {
  margin-right: 8px;
}

.search-by-radio {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ddd;
  border-radius: 999px;
  outline: none;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.search-by-radio:checked {
  background: radial-gradient(var(--yellow) 50%, white 50%);
  border: var(--yellow) 2px solid;
}

.poke-list a {
  width: 100%;
  list-style: none;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  background-color: var(--white);
}
.poke-list {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
  max-height: 224px;
  overflow-y: auto;
}
.poke-position {
  position: relative;
}
.poke-name {
  cursor: pointer;
}

@media (max-width: 768px) {
  .search-item-container {
    flex-direction: column;
    align-items: self-start;
  }
}

@media (max-width: 380px) {
  .search-by-name-inupt {
    width: 150px;
  }
}
