.statsValid {
  background-color: var(--success);
  height: 13px;
  width: 85px;
}
.statsEnable {
  background-color: var(--white);
  height: 13px;
  width: 85px;
}
.stats {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.statsContent {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.stat-name {
  text-align: center;
}
