/* reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* variables */
:root {
  /* colors */
  --yellow: #ffcc03;
  --blue-dark: #101e36;
  --blue-button: #386abb;
  --black: #1c1c1c;
  --white: #f7f7ff;
  --grey: #f2f2f2;
  --grey-dark: #979797;
  --text-hint: #726f6f;
  --danger: #f12838;
  --warning: #ffa037;
  --success: #41e549;

  /* fonts */
  --ff-main: 'Open Sans', serif;
  --ff-title: 'Open Sans', serif;

  /* font-sizes */
  --fz-16: 1rem;
  --fz-18: 1.125rem;
  --fz-24: 1.5rem;
  --fz-32: 2rem;
}

/* general */
body {
  background: var(--white);
  color: var(--black);
  font-family: var(--ff-main);
  background: url('/bg-pattern-1.png') repeat;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
main {
  padding: 108px 16px 64px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
}

h1 {
  font-size: var(--fz-32);
}

h2 {
  font-size: var(--fz-24);
}

/* utils */
.center {
  margin-inline: auto;
}
